{% extends "base.html" %}
{% block content %}
<h2 class="text-center">RideShare Web UI</h2>

<div class="list-group mt-4">
    <a href="/search" class="list-group-item list-group-item-action">Search Trips</a>
    <a href="/payment" class="list-group-item list-group-item-action">Make Payment</a>
    <a href="/feedback" class="list-group-item list-group-item-action">Leave Feedback</a>
    <a href="/cancel" class="list-group-item list-group-item-action">Cancel Reservation</a>
</div>
{% endblock %}

