{% extends "base.html" %}
{% block content %}

<h1>Make a Payment</h1>

<form action="/payment_confirm" method="POST">
    <label>Reservation ID:</label>
    <input type="number" name="reservation_id" required>

    <label>Your User ID:</label>
    <input type="number" name="payer_id" required>

    <label>Amount:</label>
    <input type="number" name="amount" required>

    <label>Method:</label>
    <select name="method">
        <option value="card">Card</option>
        <option value="paypal">PayPal</option>
        <option value="cash">Cash</option>
    </select>

    <button class="action-btn" type="submit">Submit Payment</button>
</form>

{% endblock %}

