{% extends "base.html" %}
{% block content %}
<h3>Make Payment</h3>

<form method="post" class="mt-3">
    <input class="form-control mb-2" name="reservation_id" placeholder="Reservation ID">
    <input class="form-control mb-2" name="payer_id" placeholder="Payer User ID">
    <input class="form-control mb-2" name="amount" placeholder="Amount">
    <select class="form-control mb-3" name="method">
        <option value="card">Card</option>
        <option value="paypal">PayPal</option>
        <option value="cash">Cash</option>
    </select>
    <button class="btn btn-success">Submit Payment</button>
</form>
{% endblock %}

